.main {
  padding: 10px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 50px rgba(31, 73, 125, 1);
  width: 400px;
  border-radius: 10px;
}

.card > h1 {
  padding-top: 10px;
}

.signIn {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
